<div ng-controller="TwitchCtrl">
	<section id="subheader">
		
		<div class="wrapper">
			<div class="twitch">

				<div class="col-1-2">
					<h2>Mes streams préférés</h2>	
				</div>
				<div class="col-1-2">
					<h3><a href="http://www.twitch.tv/theKalgar/profile">twitch.tv/theKalgar</a></h3>
				</div>
			</div>
		</div>

	</section>

	<section id="content">

		<div class="wrapper">
			
			<div ng-repeat="stream in streams">
				<div class="twitch-content">
					<div class="col-1-8">		
						<a ng-href="{{stream.link}}">
							<img ng-src="{{stream.img}}" height="100" width="100" /></a>
					</div>
					<div class="col-7-8">
						<a ng-href="{{stream.link}}">
							<h4>{{stream.title}}</h4></a>
						<p>{{stream.description}}</p>
					</div>
				</div>
			</div>

		</div>

	</section>
</div>
