@charset "UTF-8";
/**
*	Librairies
*/
/* Réseaux sociaux */
/**
*	Resets
*/
/* line 25, ../scss/style.scss */
body, h1, h2 {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

/**
*	Layout
*/
/* line 33, ../scss/style.scss */
#topbar {
  background: #11171c;
  color: white;
  padding: 24px;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 10px 0px #000;
  /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 0px 0px 10px 0px #000;
}
/* line 45, ../scss/style.scss */
#topbar #description {
  width: 400px;
  float: left;
}
/* line 51, ../scss/style.scss */
#topbar #description img {
  float: left;
}
/* line 54, ../scss/style.scss */
#topbar #description h1, #topbar #description h2 {
  text-align: center;
}
/* line 57, ../scss/style.scss */
#topbar #description h1 {
  color: white;
  font-size: 2.4em;
  margin-top: 36px;
  margin-bottom: 12px;
}
/* line 65, ../scss/style.scss */
#topbar #navigation {
  /*background: green;*/
  width: 560px;
  float: left;
}
/* line 71, ../scss/style.scss */
#topbar #navigation #social {
  margin-top: 30px;
  margin-left: 80px;
}
/* line 77, ../scss/style.scss */
#topbar #navigation li {
  list-style: none;
}
/* line 80, ../scss/style.scss */
#topbar #navigation li a {
  float: left;
  transition: background;
  transition-duration: 0.3s;
  height: 64px;
  margin-right: 2px;
}
/* line 88, ../scss/style.scss */
#topbar #navigation li a.steam {
  background: black;
}
/* line 89, ../scss/style.scss */
#topbar #navigation li a.deviantart {
  background: #4b5d50;
}
/* line 90, ../scss/style.scss */
#topbar #navigation li a.github {
  background: #4183c4;
}
/* line 91, ../scss/style.scss */
#topbar #navigation li a.pinterest {
  background: #cb2027;
}
/* line 92, ../scss/style.scss */
#topbar #navigation li a.facebook {
  background: #3b5998;
}
/* line 93, ../scss/style.scss */
#topbar #navigation li a.grooveshark {
  background: #ff6600;
}
/* line 94, ../scss/style.scss */
#topbar #navigation li a.twitch {
  background: #6441a5;
}
/* line 95, ../scss/style.scss */
#topbar #navigation li a.tumblr {
  background: #2c4762;
}
/* line 96, ../scss/style.scss */
#topbar #navigation li a.grooveshark {
  background: #ff6600;
}

/* line 101, ../scss/style.scss */
#subheader {
  overflow: auto;
  padding-bottom: 10px;
  margin-bottom: 12px;
  padding-top: 70px;
}
/* line 107, ../scss/style.scss */
#subheader .pinterest, #subheader .deviantart, #subheader .tumblr, #subheader .facebook, #subheader .github, #subheader .grooveshark, #subheader .twitch {
  overflow: auto;
}
/* line 111, ../scss/style.scss */
#subheader .pinterest {
  border-bottom: 3px solid #cb2027;
}
/* line 112, ../scss/style.scss */
#subheader .deviantart {
  border-bottom: 3px solid #4b5d50;
}
/* line 113, ../scss/style.scss */
#subheader .tumblr {
  border-bottom: 3px solid #2c4762;
}
/* line 114, ../scss/style.scss */
#subheader .facebook {
  border-bottom: 3px solid #3b5998;
}
/* line 115, ../scss/style.scss */
#subheader .github {
  border-bottom: 3px solid #4183c4;
}
/* line 116, ../scss/style.scss */
#subheader .grooveshark {
  border-bottom: 3px solid #ff6600;
}
/* line 117, ../scss/style.scss */
#subheader .twitch {
  border-bottom: 3px solid #6441a5;
}

/* line 120, ../scss/style.scss */
#content {
  z-index: -9999px;
  padding-bottom: 70px;
}

/* Social specific content style */
/* line 126, ../scss/style.scss */
.content {
  display: block;
  overflow: auto;
}
/* line 133, ../scss/style.scss */
.content p {
  font-size: 1.2em;
}

/* line 139, ../scss/style.scss */
.deviantart-content {
  margin-bottom: 36px;
}
/* line 140, ../scss/style.scss */
.deviantart-content h4, .deviantart-content p {
  margin-left: 10px;
}

/* line 145, ../scss/style.scss */
.facebook-content {
  border-top: 1px solid #3b5998;
  padding: 12px;
  display: block;
  float: left;
  width: 40%;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  transition: background;
  transition-duration: 0.5s;
}
/* line 158, ../scss/style.scss */
.facebook-content:hover {
  background: #f0f0f0;
}
/* line 162, ../scss/style.scss */
.facebook-content a {
  color: #3b5998;
}

/* line 167, ../scss/style.scss */
.github-content {
  border-top: 1px solid #4183c4;
  padding-bottom: 18px;
  padding-left: 18px;
  transition: background;
  transition-duration: 0.5s;
}
/* line 175, ../scss/style.scss */
.github-content a {
  color: #4183c4;
}
/* line 179, ../scss/style.scss */
.github-content img {
  display: none;
}
/* line 183, ../scss/style.scss */
.github-content:hover {
  background: #f0f0f0;
}

/* line 188, ../scss/style.scss */
.twitch-content {
  width: 100%;
  display: block;
  overflow: auto;
  margin-bottom: 24px;
}
/* line 195, ../scss/style.scss */
.twitch-content h4, .twitch-content p {
  margin-left: 18px;
}

/* line 200, ../scss/style.scss */
.pinterest-content {
  border-top: 1px solid #cb2027;
  transition: background;
  transition-duration: 0.5s;
  padding-bottom: 18px;
}
/* line 207, ../scss/style.scss */
.pinterest-content:hover {
  background: #f0f0f0;
}
/* line 210, ../scss/style.scss */
.pinterest-content img {
  float: left;
  margin-right: 18px;
}
/* line 214, ../scss/style.scss */
.pinterest-content a {
  color: #000;
}

/* line 222, ../scss/style.scss */
#footer {
  height: 80px;
  background: #222;
  display: block;
  float: left;
  width: 100%;
}
/* line 229, ../scss/style.scss */
#footer p {
  margin-top: 12px;
  text-align: center;
  color: #666;
  line-height: 30px;
}

/**
*	Layout utils
*/
/* line 239, ../scss/style.scss */
html, body {
  height: 100%;
}

/* line 242, ../scss/style.scss */
.wrapper {
  width: 960px;
  margin: auto;
}

/* line 246, ../scss/style.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -80px;
  display: block;
}

/* line 251, ../scss/style.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 255, ../scss/style.scss */
.page-wrap:after {
  height: 80px;
}

/* line 258, ../scss/style.scss */
.col-1-2 {
  width: 50%;
  float: left;
  display: block;
}

/* line 263, ../scss/style.scss */
.col-2-6 {
  width: 33%;
  float: left;
  display: block;
}

/* line 268, ../scss/style.scss */
.col-4-6 {
  width: 66%;
  float: left;
  display: block;
}

/* line 273, ../scss/style.scss */
.col-1-8 {
  width: 12.5%;
  float: left;
  display: block;
}

/* line 278, ../scss/style.scss */
.col-7-8 {
  width: 87.5%;
  float: left;
  display: block;
}

/**
*	Typo
*/
/* line 287, ../scss/style.scss */
h1, h2, h4 {
  font-family: 'Ruluko';
}

/* line 290, ../scss/style.scss */
h2 {
  margin-top: 25px;
  font-size: 2em;
}

/* line 294, ../scss/style.scss */
h3 {
  text-align: right;
  margin-top: 30px;
  font-weight: normal;
}

/* line 299, ../scss/style.scss */
h4 {
  color: #000;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 1.8em;
}

/* line 306, ../scss/style.scss */
a {
  text-decoration: none;
  color: #AAA;
}

/* line 310, ../scss/style.scss */
p {
  font-size: 1.2em;
}

/* line 314, ../scss/style.scss */
.steam h2 {
  color: black;
}

/* line 315, ../scss/style.scss */
.deviantart h2 {
  color: #4b5d50;
}

/* line 316, ../scss/style.scss */
.github h2 {
  color: #4183c4;
}

/* line 317, ../scss/style.scss */
.pinterest h2 {
  color: #cb2027;
}

/* line 318, ../scss/style.scss */
.facebook h2 {
  color: #3b5998;
}

/* line 319, ../scss/style.scss */
.grooveshark h2 {
  color: #ff6600;
}

/* line 320, ../scss/style.scss */
.twitch h2 {
  color: #6441a5;
}

/* line 321, ../scss/style.scss */
.tumblr h2 {
  color: #2c4762;
}

/* line 322, ../scss/style.scss */
.grooveshark h2 {
  color: #ff6600;
}

/* Tweaks pinterest */
/* line 326, ../scss/style.scss */
span img {
  max-height: 250px;
}

/* line 329, ../scss/style.scss */
span {
  margin-right: 3px;
  margin-bottom: 18px;
}

/* line 333, ../scss/style.scss */
span span {
  margin-right: 0px;
  margin-bottom: 0px;
}
