

<div ng-controller="FacebookCtrl">
	<section id="subheader">
		
		<div class="wrapper">
			<div class="facebook">

				<div class="col-1-2">
					<h2>Mes derniers posts</h2>	
				</div>
				<div class="col-1-2">
					<h3><a href="http://facebook.com/iamkalgar">facebook.com/iamkalgar</a></h3>
				</div>
			</div>
		</div>

	</section>

	<section id="content">

		<div class="wrapper">
			
			<div ng-repeat="feed in feeds">
				
				<div class="content facebook-content">

					<div ng-bind-html="feed.content"></div>

				</div>
<!-- 				<div class="content facebook-content">
					<div class="fb-post" data-href="{{feed.link}}" data-width="440"></div>
				</div> -->
			</div>

		</div>

	</section>


</div>
