<div ng-controller="GithubCtrl">
	<section id="subheader">
		
		<div class="wrapper">
			<div class="github">

				<div class="col-1-2">
					<h2>Mes dernières lignes de code</h2>	
				</div>
				<div class="col-1-2">
					<h3><a href="http://github.com/kalgar92">github.com/kalgar92</a></h3>
				</div>
			</div>
		</div>

	</section>

	<section id="content">

		<div class="wrapper">
			
			<div ng-repeat="feed in feeds">
				
				<div class="github-content">
					<div ng-bind-html="feed.content"></div>
				</div>
			
			</div>

		</div>

	</section>
</div>
