<div>
	<section id="subheader">
		
		<div class="wrapper">
			<div class="grooveshark">

				<div class="col-1-2">
					<h2>Mes dernières vibes</h2>	
				</div>
				<div class="col-1-2">
					<h3><a href="http://grooveshark.com/#!/theKalgar">grooveshark.com/#!/theKalgar</a></h3>
				</div>
			</div>
		</div>

	</section>

	<section id="content">

		<div class="wrapper">
			<p>J'adore ce site mais pour l'instant grooveshark est très frilleux sur les accès à son API. Je cherche une solution au problème en ce moment même (un genre de petit hack).</p>
		</div>

	</section>
</div>
